body {
    margin: 0;
}

canvas { 
    display: block;
    position: relative;
}

.point {
    border-radius: 50%;
    position: absolute;
}

.animate-button {
    position: absolute;
    top: 1%;
    left: 1%;
    border: 1px solid black;
    padding: 5px;
    z-index: 10;
}