body {
    margin: 0;
}

canvas { 
    display: block;
    position: relative;
}

.point {
    border-radius: 50%;
    position: absolute;
    cursor: grab;
}

.button-container {
    position: absolute;
    top: 1%;
    left: 1%;
    display: flex;
    justify-content: space-between;
}

.button {
    border: 1px solid black;
    padding: 5px;
    z-index: 10;
    margin-left: 10px;
    cursor: pointer;
}